<br/>
<br/>
<br/>
<footer>
    <p>
        <strong>Blazor-Auth0</strong> was designed and built by <a href="https://github.com/henalbrod" target="_blank">Henry Alberto Rodriguez</a> and is licensed under the <a href="https://github.com/henalbrod/Blazor.Auth0/blob/master/LICENSE">MIT License</a> |
        <a href="https://twitter.com/henalbrod" class="doc">Twitter</a> | <a href="https://www.linkedin.com/in/henalbrod/" class="doc">LinkedIn</a>
    </p>
</footer>