@inherits LayoutComponentBase

<div class="container col-sm-0 col-md-10 col-lg-8 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">

    <!--NavBar-->
    <NavBar />

    <!--Body-->
    <div class="row">

        <!--SideBar-->
        <div class="col-sm-5 col-md-4 col-lg-3">
            <SideBar />
        </div>

        <!--Content-->
        <div class="col-sm col-md">
            @Body
            <Footer/>
        </div>

    </div>
    <br />
    <br />



</div>