<nav>
    <div>Getting Started</div>
    <NavLink class="sublink-1" href="" Match="NavLinkMatch.All"> Introduction </NavLink>
    <NavLink class="sublink-1" href="motivation"> Motivation </NavLink>
    <NavLink class="sublink-1" href="client_side_install"> Client Side Install </NavLink>
    <NavLink class="sublink-1" href="server_side_install"> Server Side Install </NavLink>
    <NavLink class="sublink-1" href="aspnet_core_hosted_install"> ASP.Net Core Hosted Install </NavLink>
    <NavLink class="sublink-1" href="the_basics"> The Basics </NavLink>
    <div>Advanced</div>
    <span class="sublink-1">Client Side</span>
    <NavLink class="sublink-2" href=""> Options </NavLink>
    <NavLink class="sublink-2" href=""> Authentication Service </NavLink>
    <span class="sublink-1">Server Side</span>
    <NavLink class="sublink-2" href=""> Options </NavLink>
    <NavLink class="sublink-2" href=""> Authentication Service </NavLink>
    <div>How To</div>
    <NavLink class="sublink-1" href=""> Require an authenticated user </NavLink>
    <NavLink class="sublink-1" href=""> Use Login/Logout buttons </NavLink>

</nav>

<a href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss">
    <img id="auth0-badge" width="150" height="50" alt="JWT Auth for open source projects" src="https://cdn.auth0.com/oss/badges/a0-badge-dark.png" />
</a>