@inject Blazor.Auth0.ClientSide.Authentication.AuthenticationService authService

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <a href="" @onclick="authService.LogOut" >Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="@authService.BuildAuthorizeUrl()">Log in</a>
    </NotAuthorized>
</AuthorizeView>
