@inject AuthenticationService _authService

<AuthComponent ProtectedPaths="protectedPaths" LoginRequiredOnProtectedPaths="true">

    @*Will render while determining user's session state*@
    <AuthorizingContent>
        Determining session state, please wait...
    </AuthorizingContent>

    @*Will render after determining session state*@
    <AuthorizedContent>

        <Router AppAssembly="typeof(Startup).Assembly">

            <NotFoundContent>
                <p>Sorry, there's nothing at this address.</p>
            </NotFoundContent>

        </Router>

    </AuthorizedContent>

    <NotAuthorizedContent>
        ERROR 401: Unauthorized
    </NotAuthorizedContent>

</AuthComponent>


@code {

    List<string> protectedPaths = new List<string> {
        "fetchdata"
    };

}