@inherits LayoutComponentBase
@inject Auth0.Authentication.AuthenticationService _authService

<WebAuthComponent>

    @*Will render while determining user's session state*@
    <UndefinedSessionContent>
        Determining session state, please wait...
    </UndefinedSessionContent>

    @*Will render after determining session state*@
    <ActiveInactiveSessionContent>

        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                @if (_authService.SessionState == Auth0.Models.Enumerations.SessionStates.Active)
                {
                    <a href="" class="ml-md-auto" onclick="@_authService.LogOut">LogOut</a>
                }
                else
                {
                    <a href="" class="ml-md-auto" onclick="@_authService.LogIn">LogIn</a>
                }
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>

    </ActiveInactiveSessionContent>

    @*There's also options for showing content on Active & Inactive session state alone*@
    <ActiveSessionContent></ActiveSessionContent>
    <InactiveSessionContent></InactiveSessionContent>

</WebAuthComponent>