@page "/"

<h1>Introduction</h1>
<br/>
<p>
    This is a library for Blazor authentication with OIDC Authorization Code-Grant and Implicit-Grant flows,
    using Auth0's Universal Login and Silent Login for Blazor over .NET Core v3.0.0-preview8 client & server-side solutions.
</p>
<br />
<p>    
    <a href="https://github.com/henalbrod/Blazor.Auth0/blob/master/LICENSE">
        <img alt="MIT LICENSE" src="https://img.shields.io/github/license/henalbrod/Blazor.Auth0?color=blue" />
    </a>

    <a href="https://www.nuget.org/packages/Blazor-Auth0-ServerSide">
        <img alt="Blazor-Auth0-ServerSide" src="https://img.shields.io/nuget/v/Blazor-Auth0-ServerSide?color=green&label=Nuget%3A%20Blazor-Auth0-ServerSide" />
    </a>

    <a href="https://www.nuget.org/packages/Blazor-Auth0-Clientside">
        <img alt="Blazor-Auth0-Clientside" src="https://img.shields.io/nuget/v/Blazor-Auth0-ClientSide?color=green&label=Nuget%3A%20Blazor-Auth0-Clientside" />
    </a>

    <a href="https://github.com/henalbrod/Blazor.Auth0/actions">
        <img alt="Blazor-Auth0-Clientside" src="https://github.com/henalbrod/Blazor.Auth0/workflows/Github%20Actions%20CI/badge.svg" />
    </a>
</p>
<br />
<p>
    <video controls="controls" class="col-sm col-md col-lg" autoplay muted loop>
        <source src="/video/demo.mp4" type="video/mp4" />
    </video>
</p>