@page "/motivation"

<h1>Motivation</h1>
<br />
<ul>
    <li>Bring a convenient way of using Auth0's services in Blazor.</li>
    <li>Use the authorization code grant with Proof Key for Code Exchange (PKCE) to request access tokens from Balazor's SPAs.</li>
    <li>Avoid javascript dependencies.</li>
</ul>
<br />
<h3>
    Inspiration
</h3>
<br />
<p>
    This library was started based on this <a href="https://auth0.com/blog/oauth2-implicit-grant-and-spa/">great post</a> from <a href="https://twitter.com/vibronet">Vittorio Bertocci</a>
</p>

