@inject Blazor.Auth0.IAuthenticationService authService

<AuthorizeView>
    <Authorized>        
        <NavLink  class="nav-link" href="" @onclick="@(async ()=> await authService.LogOut())">
            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
        </NavLink>

    </Authorized>
    <NotAuthorized>
         <NavLink class="nav-link" href="" @onclick="authService.Authorize">
            <span class="oi oi-account-login" aria-hidden="true"></span>  Login
        </NavLink>
    </NotAuthorized>
</AuthorizeView>
